<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      About App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn.dribbble.com/users/610788/screenshots/5157282/spacex.png"/>
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Made by:</ion-card-subtitle>
      <ion-card-title>Neven Yusuf <br> 00000025750 - CL</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      <p>Aplikasi ini dibuat oleh saya sendiri sebagai pemenuhan UTS Mata Kuliah IF733 Cross - Platform Mobile Programming Universitas Multimedia Nusantara Tahun Akademik 2020 - 2021 Program Studi Informatika. </p> <br>
      <p>Aplikasi ini dikerjakan dengan menggunakan Framework Ionic dan Angular dan dengan bantuan software Visual Studio Code.</p> <br>
      <p> 
        Dalam pengerjaan, tidak ada libary eksternal yang digunakan. Pengerjaan hanya berdasarkan ilmu yang didapatkan dari tugas dan materi kelas teori dan lab,
        dokumentasi Ionic dan Angular, serta tentunya forum sahabat para programmer seperti Stackoverflow dan forum - forum lainnya.
      </p> <br>
      <p>Terima kasih kepada dosen dan aslab-aslab yang telah memberikan ilmu yang berharga ini. Semoga aplikasi ini mendapatkan hasil yang terbaik dan dapat bermanfaat bagi orang lain. </p> <br>
    </ion-card-content>
  </ion-card>
</ion-content>
