<ion-app>
  <ion-menu side="start" menuId="menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Nav</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle menu="menu">
        <ion-item routerLink = "home">Home</ion-item>
        <ion-item routerLink = "admin">Admin</ion-item>
        <ion-item>About App</ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-item>Exit</ion-item>
  </ion-footer>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>
</ion-app>
