<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="layout=='list'" (click)="changeLayout('grid')"><ion-icon name="list" slot="icon-only"></ion-icon></ion-button>
      <ion-button *ngIf="layout=='grid'" (click)="changeLayout('list')"><ion-icon name="grid" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="layout=='list'">
    <ion-card *ngFor="let product of products" [routerLink] = "['./', product.tipe, product.id]">
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-thumbnail slot="start" style="width: 75px; height: auto;">
              <ion-img [src]="product.foto">
              </ion-img>
            </ion-thumbnail>
            <ion-label class="ion-text-wrap">
              <span style="font-weight: bold;"> {{product.nama}} </span><br>
              Rp. {{product.harga}} ,- <br>
              Tersedia: {{product.stok}}
            </ion-label> 
          </ion-item>
       </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-grid *ngIf="layout=='grid'">
    <ion-row>
      <ion-col size ="6" *ngFor="let product of products" [routerLink] = "['./', product.tipe, product.id]">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item>
                <ion-thumbnail slot="start" style="width: auto; height: auto;">
                  <ion-img [src]="product.foto">
                  </ion-img>
                </ion-thumbnail>
              </ion-item>
           </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="ion-text-wrap">
              <span style="font-weight: bold;"> {{product.nama}} </span><br>
              Rp. {{product.harga}} ,- <br>
              Tersedia: {{product.stok}}
            </ion-label> 
          </ion-card-content>
        </ion-card>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
